# Node.js dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# dotenv environment variables
.env
*.env

# Vite
/dist

# IDEs
.vscode/
.idea/
